.no_boottom_margin{
    margin-bottom: 0px;
}

.margin_top{
    margin-top: 10px;
}

.rnavPosition{
    position: relative;
    top:25px;
}

.rPosition{
    position: relative;
    top: -52px;
}


.navZindexMax{
    z-index: 2;
}

.myCaruselImg{
    width: 100%;
    height: 700px!important;
    object-fit: cover;
    object-position: 100% 0%;
}

.sector1{
    margin-bottom: 20px;
    width: 30%;
    min-height:300px;
    text-align: center;
    float: left;
}

.sector2{
    width: 30%;
    min-height:300px;
    text-align: center;
    float: left;
    margin:0px 30px ;
}

.sector3{
    width: 30%;
    min-height:300px;
    text-align: center;
    float: left;
}

.size{
    font-size: 20px;

}

.elt{
    width: 700px;
    height: 300px;
    float: left;
    position: absolute;
    z-index: 4;
    top: 200px;
    left: 367px;
}

.sp{
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.sp1{
    font-size: 20px;
    color: white;
}














@media only screen and (max-width:768px) {
    .myCaruselImg{
        height: 300px!important;
       
    }

    .sector1{
        width: 100%;
        min-height: 100px;
    }

    .sector2{
        width: 100%;
        min-height: 100px;
        margin: 0px !important;
    }

    .sector3{
        width: 100%;
        min-height: 100px;
    }

    .rnavPosition{
        top: 0px ;
    }

}


@media only screen and (min-width: 768px){
    .myCaruselImg{
        height: 450px !important;
    }
    .sector1{
        width: 100%;
        min-height: 100px;
    }

    .sector2{
        width: 100%;
        min-height: 100px;
    }

    .sector3{
        width: 100%;
        min-height: 100px;
        margin-left: 30px;
     }

}

@media only screen and (max-width:768px){
    .elt{
        left: 100px;
        top: 100px;
        width: 500px;
        font-size: 16px;
    }
}



@media only screen and (min-width: 992px){
    .myCaruselImg{
        height: 700px !important;
    }

    .sector1{
        width: 100%;
        min-height: 100px;
    }

    .sector2{
        width: 100%;
        min-height: 100px;
    }

    .sector3{
        width: 100%;
        min-height: 100px;
        margin-left: 30px;
     }
    
}

